.landing {
  background-image: url("./img/showcase.jpg");
  height: 100vh;
  color: white;
}
.dark-overlay {
  position: relative;
  height: 100%;
  z-index: 1;
}
.dark-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.landing-inner {
  padding-top: 30vh;
  z-index: 1;
}
